<% if(success_msg && success_msg != '') { %>
<div id="msg" class="alert alert-success"><%= success_msg %></div>
<% } else if(error_msg && error_msg != '') { %>
<div id="msg" class="alert alert-danger"><%= error_msg %></div>
<% } %>

<% if(error && error != '') { %>
<div id="msg" class="alert alert-danger"><%= error %></div>
<% } %>
