<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Институт</th>
                <th>Кафедра</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ФИО</th>
                <th>Институт</th>
                <th>Кафедра</th>
                <th>Группа</th>
            </tr>
        </tfoot>
        <tbody>
        </tbody>
    </table>
</div>
<%- include('partials/footer') -%>